label{
  background: center;
  display: block;
  color: white; 
}
.center { 
  position: absolute;
  left: 40%;
}
.card{
  background: center;
  display: block;
}
body, html {
  height: 100%;
  margin: 0;
}
.imagen{
  background-image: url("https://images2.alphacoders.com/659/thumb-1920-659390.jpg");
  height: 100%; 
  background-position: center;
  
  background-size: cover;
}
.titulo{
 color: white; 
 padding: 30px

}
.subtitulo{
 color:White;
}

